.bpal-container{
	width: 100%;
	border: 1px solid #ddd;

}

.bpal-container form{
	margin-left: 30px;
	display: table;
} 

form .logo img{
margin: 10px;
}

form .footer-txt p{
	font-size: 12px;
	text-align: center;

}

form .footer-txt p a{
	text-decoration: none;
}

form input[type=submit]{
	border-radius: 5px;
	background-color: #db1e3c !important;
}

form input[type=submit]:hover{
	background-color: #dd1e3b !important;
}
.message-sucess{
	background-color: rgb(221, 240, 248);
	border-radius: 5px;
	padding: 3px;
}

.message-fail{
	background-color: rgb(245, 150, 150);
	border-radius: 5px;
	padding: 3px;
}